{% extends 'mailingserv/base.html' %}
{% block head %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Рассылки</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingserv:mailing_create' %}" role="button">Создать рассылку</a>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}

<h2>Список рассылок</h2>
<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Номер рассылки</th>
        <th scope="col">Тема</th>
        <th scope="col">Сообщение</th>
        <th scope="col">Кол-во получателей</th>
        <th scope="col">Статус</th>
        <th scope="col">Операция</th>
      </tr>
    </thead>
    <tbody>
      {% for mailing in object_list %}
        <tr>
          <td>{{ mailing.id }}</td>
          <td>{{ mailing.message.subject }}</td>
          <td>{{ mailing.message.body|truncatechars:50 }}</td>
          <td>{{ mailing.clients.count }}</td>
          <td>{{ mailing.get_status_display }}</td>
          <td>
            <div class="btn-group me-2">
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingserv:mailing_detail' mailing.pk %}" role="button">Подробно</a>
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingserv:mailing_update' mailing.pk %}" role="button">Изменить</a>
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingserv:mailing_delete' mailing.pk %}" role="button">Удалить</a>
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingserv:mailing_send' mailing.id %}" role="button">Отправить</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}